<.form :let={f} for={@changeset} phx-change="submit" phx-submit="submit">
  <div phx-hook="Pickr" id="datetime_id">
    <%= text_input f, :datetime, data_input: true, phx_debounce: "blur" %>
    <a style="text-decoration: underline; margin: 0.25em 0; display: block;" data-clear>Clear</a>
  </div>
</.form>
